@import "variables";

html, body {
    background-color: $body-bg;
    color: $white;
    font-family: $primary-font;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    //overflow-y: hidden;

}

.section-title {
    color: $section-color;
    opacity: .36;
    padding: 30px 15px;
}

//Accent
.accent {
    color: $magenta;
}

//login form
.login {
    height: 680px;

}

#login {
    background-color: $purple;
    margin-top: 200px;
}








