@import "partials/variables";

html, body {
    background-color: $body-bg;
    color: $white;
    font-family: $primary-font;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

#app {
    width: 100%;

}

.pointer {
    cursor: pointer;
}

a:-webkit-any-link {
    text-decoration: none;
}

a:hover {
    color: $magenta;
}

.main {
    min-height: 800px;
}

.section-title {
    color: $section-color;
    opacity: .36;
    padding: 30px 15px 15px;
}

//Accent
.accent {
    color: $magenta;
}

//login and register form

#register {
    margin-top: 200px;
}

#login {
    background-color: $purple;
    margin-top: 200px;
    label{
        color:$dark-purple;
    }
    input {
        background-color:$body-bg ;
        border-color: $dark-purple;
        color: $light-purple;
    }
    input:focus {
        outline: none;
        border: 1px solid $light-purple;
    }
    .btn {
        color:$light-purple;
        background-color: $purple;
        border: 1px solid $light-purple;
        transition: .6s;
    }
    .btn:hover{
        color:$magenta;
        border-color: $magenta;
    }
}

//Hero Universal
.featured {
    position: relative;
    width: 100%;
    padding: 0;
}

.hero-img {
    z-index: 10;

    img {
        width: 100%;
        object-fit: cover;
        opacity: .15;
    }
}

.text-article {
    max-width: 600px;
    position: absolute;
    font-size: 18px;
}

.about-text {
    text-align: justify;
}

//Cards Universal

.alert {
    color: salmon;
}


//category buttons

.brk-btn {
    position: relative;
    background: none;
    color: $light-purple;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid $light-purple;
    border-radius: 5px;
    padding: 20px 40px;
    width: 400px;
    transition: .6s;
    font-size: 20px;

    a {
        text-decoration: none;
        text-align: center;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: $body-bg;
        height: 0.3em;
        right: 20%;
        top: -0.21em;
        transform: skewX(-45deg);
        -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        background: $body-bg;
        height: 0.3em;
        left: 20%;
        bottom: -0.25em;
        transform: skewX(45deg);
        -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
        transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
    }

    &:hover {
        border-color: $magenta;
        color: $magenta;

        &::before {
            right: 80%;
        }

        &::after {
            left: 80%;
        }
    }

}

.btn-space {
    margin: 40px 0;
}

.categories {
    margin: 40px 0;
    text-transform: capitalize;
}

//admin user management

.admin {
    color: $light-purple;
}

.admin-btn {
    overflow: hidden;

    p {
        display: inline-block;
        padding: 0 10px;
        float: right;
    }

    .action-icon {

        color: $light-purple;
        transition: .6s;
        float: right;
    }

    .action-icon:hover {
        color: $magenta;
    }

}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background: $purple;
    color: $light-purple;
}

.table-hover thead tr {
    background-color: $purple;
    border-color: $dark-purple;
}


.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $table-line;
}

.table th, .table td {
    border-top: 1px solid $table-line;
}

.table {
    margin-bottom: 100px;
}
// EDIT AND CREATE ARTICLE FORMS
.form-group {
    margin: 0 auto;
    max-width: 600px;
    color: $light-purple;

    input, textarea, select {
        background-color: $body-bg;
        border-color: $dark-purple;
        color: $light-purple;
    }
    input::placeholder, textarea::placeholder{
        color: $dark-purple;
    }
    textarea{
        min-height: 200px;
    }
    input:focus, textarea:focus, select:focus {
        outline: none;
        background-color: $body-bg;
        border: 1px solid $light-purple;
        color: $light-purple;
    }

    .btn {
        color: $light-purple;
        background-color: $purple;
        border: 1px solid $light-purple;
        transition: .6s;
        margin: 20px 0 60px;
    }

    .btn:hover {
        color: $magenta;
        border-color: $magenta;
    }
    .upload {
        width: 100%;
    }

}
.form-group > * {
    margin-bottom: 10px;
}
.submitArticle {
    width: 100%;
}
