@import "partials/variables";

//Featured - Hero

.hero-img-featured {
    -webkit-box-shadow: 0 5px 10px 0 $purple;
    -moz-box-shadow: 0 5px 10px 0 $purple;
    box-shadow: 0 5px 10px 0 $purple;
    width: 100%;

    img {
        max-height: 940px;
        min-height: 600px;
    }
}

.text-article-featured {
    bottom: 20%;
    left: 10%;
}

.category {
    font-size: 14px;
}

.title {
    margin-top: 20px;
    font-size: 38px;
}

.card-details > * {
    padding: 0 5px 0;
}

.card-details {
    font-size: 14px;

    .material-icons {
        font-size: 14px;
        margin-right: 5px;
    }
}

a.category {
    text-transform: capitalize;
}

.feature-link {
    margin-top: 20px;

    .fl-left, .fl-right {
        //margin-right: 15px;
        display: inline-block;
        margin: 10px;
    }

    .fl-left a {
        border: 1px solid $magenta;
        color: $magenta;
        transition: .6s;
    }

    .fl-left a:hover {
        background-color: $body-bg;
    }

    .fl-right a {
        border: 1px solid $light-purple;
        color: $light-purple;
        transition: .6s;
    }

    .fl-right a:hover {
        background-color: $body-bg;

    }

    a {
        text-decoration: none;
        padding: 5px;
        border-radius: 5px;
        font-size: 16px;

    }

}

//Banner

.banner {
    background-color: $purple;
    width: 100%;
    padding: 40px 0;
    .container {
        padding: 10px;

        .writer {
            margin: 10px 0 60px;

            h4 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            p {
                color: $dark-purple;
            }

            .writer-btn {
                color: $light-purple;
                border: 1px solid $light-purple;
                border-radius: 5px;
                transition: .6s;
                padding: 5px;
            }

            .writer-btn:hover {
                color: $magenta;
                border-color: $magenta;

            }
        }
        .scores {
            th {
                font-size: 20px;
                padding-bottom: 20px;
                font-weight: 200;
            }
            td {
                color: $dark-purple;
            }
        }
    }
}


