// Body
$body-bg: #221D24;

// Typography
$brand-font:'Frijole', cursive;
$primary-font:'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$white: #fff;
$dark-purple: #918397;
$light-purple: #CEC2D2;
$section-color:#ABA0AF;
$magenta: #F64D76;
$ink: #7987FF;
$purple: #18131A;

