@import "variables";

footer {
    background-color: $purple;
    width: 100%;

}

.tusk {
    font-family: $brand-font;
    color: $dark-purple;
    font-size: 20px;
    padding: 20px 0;
    text-align: center;
}
.menu {
    //display: inline-block;
    padding: 10px;

    p {
        text-align: left;
    }
    ul {
        text-decoration: none;
        text-align: left;
        padding: 0;



    }
    li {
            text-align: left;
            list-style-type: none;
            display: inline-block;
            margin-top: 40px;
            a {
                text-decoration: none;
                color: $dark-purple;
                transition: .6s;

                padding:5px 10px;

            }
            a:hover {
                color: $magenta;
            }
        }
}
.social {
    i{
        font-size: 24px;

    }
}
