// Body
$body-bg: #221D24;

// Typography
$brand-font:'Frijole', cursive;
$primary-font:'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Colors
$white: #fff;
$dark-purple: #918397;
$light-purple: #CEC2D2;
$section-color:#ABA0AF;
$magenta: #F64D76;
$dark-magenta: #a0133f;
$ink: #7987FF;
$table-line: #554657;
$light-ink: rgba(121, 135, 255, .5);
$purple: #18131A;

